body {
    background-color: #F9F9F9;
    color: #222;
    font: 14px/1.4 Helvetica, Arial, sans-serif;
    margin: 0;
    padding:0;
    padding-bottom: 45px;
}

.App {
  text-align: center;
}

.topbar{
  background: #0275d8;
  text-align: center;
  font-size: 2rem;
  color:white;
  padding: 15px 0px;
}